@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
    overflow: hidden;
    font-family: 'Raleway';
    letter-spacing: 2px;
}

* {
    padding: 0;
    margin: 0;
}

.menu__dashboard {
    display: flex;
}

.items__dashboard {
    margin: 0;
    width: 15%;
    height: 100vh;
    display: grid;
    text-align: center;
    justify-content: center;
    background: linear-gradient(135deg, #120136, #035aa6);
}

.items__dashboard h4 {
    color: white;
}

.services__dashboard {
    width: 100%;
}

.header__dash {
    position: absolute;
    width: 15%;
    height: 5rem;
    background: linear-gradient(135deg, #120136, #035aa6);
}

.header__dash h4 {
    padding: 0;
    margin: 2rem 1rem;
}

.menu_dashboard {
    margin: 7rem 0 0;
    text-align: left;
    height: 70vh;
    width: 14rem;
}

.menu_dashboard ul li {
    list-style: none;
    margin: 3rem 0;
}

.menu_dashboard ul li a {
    text-decoration: none;
    color: #fff;
}

.menu_dashboard ul {
    margin: 0 0 0 1.5rem;
}

.menu__dashboard hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(244, 244, 244, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* FORMS */


.data__form {
    margin: 3.5rem;
}

.data__form h1 {
    margin-bottom: 1rem;
}

.field__input input {
    border: 0;
    border-bottom: solid thin #747a7e;
    border-radius: 0%;
    outline: none;
    width: 40%;
    background: none;
    padding: 10px;
    font-size: 15px;
}

.enter__button {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #2229b5;
    width: 40%;
    color: white;
    border: 0;
    box-shadow: none;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.enter__button:hover {
    border-radius: 20px 0;
    transition: ease-in-out .2s;
    background: #29108d;
}

.data__table {
    display: grid;
    margin: 0 auto 0 3rem;
    max-height: 17rem; 
    overflow-y: auto;
}

.data__table table tbody {
    text-align: center;
}

.data__center {
    text-align: center;
    margin: 1rem;
}

.table__customers {
    position: absolute;
    top: 5rem;
    left: 70%;
    display: grid;
    margin: 0 auto 0 5rem;
}

.success h4 {
    margin: 0 0 1rem;
    color: #25b925;
}