{% extends 'dashboard/baseDash.html' %}

{% block content %}
<div class="data__form">
    <h1>Buscar Vehiculo</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="field__input">
            <input type="text" name="placa" placeholder="Ingrese placa a buscar" required>
            <button class='enter__button' type="submit">BUSCAR VEHICULO</button>
        </div>
    </form>

    {{ mensaje }}
</div>
<div class="data__table">
    <table>
        <thead>
            <tr>
                <th>Placa</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.placa }}</td>
                <td>{{ data.tipo }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}