{% extends 'dashboard/baseDash.html' %}

{% block content %}

<div class="data__form">
    <h1>Datos Cliente</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="field__input">
            <input type="number" name="cedula" value="{{ cedula | upper}}" placeholder="Cedula" required>
            <h6>{{ mensaje }}</h6>
        </div>
        <div class="field__input">
            <input type="text" name="nombre" value="{{ nombre }}" placeholder="Nombre" required>
        </div>
        <div class="field__input">
            <input type="number" name="celular" value="{{ celular }}" placeholder="Celular" required>
        </div>
        <div class="field__input">
            <input type="text" name="placa" placeholder="Placa" required>
        </div>
        <div class="field__input">
            <input type="text" name="m_obra" id="" placeholder="Costo mano de obra" required>
        </div>
        <div class="field__input">
            <textarea name="descripcion" id="" cols="30" rows="10" placeholder="Descripcion" required></textarea>
        </div>

        

        <button class='enter__button' type="submit">GENERAR SERVICIO</button>
    </form>
</div>

<div class="active__service">
    <h1>Servicion en cola</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Placa</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.id}}</td>
                <td>{{ servicio.vehiculo }}</td>
                <td>{{ servicio.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}