{% extends 'dashboard/baseDash.html' %}

{% block content %}

<div class="data__form">
    <h1>Datos Cliente</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="field__input">
            <input type="number" name="cedula" value="{{ cedula | upper}}" placeholder="Cedula">
            <h6>{{ mensaje }}</h6>
            <h6>{{ mensaje_sucess }}</h6>
        </div>
        <div class="field__input">
            <input type="text" name="nombre" value="{{ nombre | upper }}" placeholder="Nombre">
        </div>
        <div class="field__input">
            <input type="number" name="celular" value="{{ celular }}" placeholder="Celular">
        </div>

        <button class='enter__button' type="submit">GENERAR USUARIO</button>
    </form>
</div>

<div class="data__form">
    <h1>Datos Automovil</h1>
    <form method="post">
        {% csrf_token %}
        <div class="field__input">
            <input type="text" name="nombre" id="" placeholder="Placa">
        </div>
        <div class="field__input">
            <input type="text" name="cedula" id="" placeholder="Tipo Vehiculo">
        </div>
    </form>

    <button class='enter__button' type="submit">GENERAR SERVICIO</button>

</div>

<div class="table__customers">
    <table>
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Celular</th>
            </tr>
        </thead>
    </table>
</div>

{% endblock %}