{% extends 'dashboard/baseDash.html' %}

{% block content %} 
<div class="data__form">
    <h1>Venta Productos</h1>
    <form method="post">
        {% csrf_token %}
        <div class="field__input">
            <input type="date" name="fecha_venta" id="" placeholder="Fecha de Venta">
        </div>
        <div class="field__input">
            <input type="number" name="cantidad" id="" placeholder="Cantidad">
        </div>
        <div class="field__input">
            <input type="text" name="descripcio" id="" placeholder="Descripcion">
        </div>
    </form>

    <button class='enter__button' type="submit">INGRESAR REPUESTOS</button>
</div>
{% endblock %}