{% extends 'dashboard/baseDash.html' %}
{% load static %}

{% block content %}
<div class="ventas__form">
    <div class="form">
        <form method="post" action="{% url 'ventas' %}">
            {% csrf_token %}
            <div class="input__ventas">
                <h1>Ventas</h1>
                <span>
                    <div>
                        <label for="cliente">Cliente: </label>
                        <input type="text" name="cliente" placeholder="Numero de cedula" value="{{ cedula }}">
                        <label for="nombre" style=" margin: 0 0 0 23px;">Nombre: </label>
                        <input type="text" name="nombre" value="{{ nombre }}">
                        <label for="celular">Celular: </label>
                        <input type="text" name="celular" value="{{ celular }}">
                        <button class='btn__ventas' type="submit"> <img src="{% static 'images/lupa.png' %}"></button>
                    </div> 

                </span>
                <h6>{{ mensaje }}</h6>
                {% if messages %}
                {% for message in messages %}
                <div class="message">{{ message }}</div>
                {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
</div>

<div>
    <div class="input__ventas acomodar">
        <form method="post" action="{% url 'repuestos' %}">
            {% csrf_token %}
        <span> <label for="codigo">Codigo: </label>
            <input type="number" name="codigo" placeholder="Codigo">
            <label for="cantidad">Cantidad: </label>
            <input type="number" name="cantidad" placeholder="Cantidad">
            <button class="btn__cant" type="submit">AGREGAR</button>
        </span>
        </form>
        <h6>{{ mensaje_repuesto }}</h6>
        {% if messages %}
        {% for message in messages %}
        <div class="message">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="data__table">
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in repuestos %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.r_nombre_repuesto }}</td>
                <td>{{ item.r_cantidad }}</td>
                <td>{{ item.r_valor_publico }}</td>
                <td>{{ item.r_valor_proveedor }}</td>
                <!-- <td>
                    <button type="button" class="btn__edit">EDITAR</button>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}