{% extends 'base.html' %}


{% block content %}

<div class="home__login">
    <h1>Ingresa tus datos para iniciar sesion </h1>

    <form action="" method="post" class="login__content">
        {% csrf_token %}

        <div class="field__input">
            <input type="text" name="username" id="" placeholder="Usuario">
        </div>
        <div class="field__input">
            <input type="password" name="password" id="" placeholder="Contraseña">
        </div>

        <button class='login__button' type="submit">INICIAR SESION</button>

    </form>
</div>
{% endblock %}